// :root {
//   --bg_h: #f9f5d7;
//   --bg: #fbf1c7;
//   --bg_s: #f2e5bc;
//   --bg1: #ebdbb2;
//   --bg2: #d5c4a1;
//   --bg3: #bdae93;
//   --bg4: #a89984;
//   --fg: #282828;
//   --fg1: #3c3836;
//   --fg2: #504945;
//   --fg3: #665c54;
//   --fg4: #7c6f64;
//   --red: #9d0006;
//   --green: #79740e;
//   --yellow: #b57614;
//   --blue: #076678;
//   --purple: #8f3f71;
//   --aqua: #427b58;
//   --orange: #af3a03;
//   --gray: #928374;
//   --red-dim: #cc2412;
//   --green-dim: #98971a;
//   --yellow-dim: #d79921;
//   --blue-dim: #458598;
//   --purple-dim: #b16286;
//   --aqua-dim: #689d6a;
//   --orange-dim: #d65d0e;
//   --gray-dim: #7c6f64;
//   --bgcolor: #f9f5d7;
//   --fontcolor: #1d2021;
//   --linkcolor: #b80050;
//   --hovercolor: #b3004d;
//   --precolor: #383838;
//   --prebgcolor: #f9f5d7;
//   --white: #f9f5d7;
//   --visitedfg: #53493c;
//   --visitedbord: #53493c;
//   --visitedhov: #fdf4c1;
//   --visitedhovbg: #282828;
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --bg_h: #1d2021;
//     --bg: #282828;
//     --bg_s: #32302f;
//     --bg1: #3c3836;
//     --bg2: #504945;
//     --bg3: #665c54;
//     --bg4: #7c6f64;
//     --fg: #fbf1c7;
//     --fg1: #ebdbb2;
//     --fg2: #d5c4a1;
//     --fg3: #bdae93;
//     --fg4: #a89984;
//     --red: #fb4934;
//     --green: #b8bb26;
//     --yellow: #fabd2f;
//     --blue: #83a598;
//     --purple: #d3869b;
//     --aqua: #8ec07c;
//     --gray: #928374;
//     --orange: #fe8019;
//     --red-dim: #cc2412;
//     --green-dim: #98971a;
//     --yellow-dim: #d79921;
//     --blue-dim: #458588;
//     --purple-dim: #b16286;
//     --aqua-dim: #689d6a;
//     --gray-dim: #a89984;
//     --orange-dim: #d65d0e;
//     --bgcolor: #1d2021;
//     --fontcolor: #f9f5d7;
//     --linkcolor: #ffa8ce;
//     --hovercolor: #b3004d;
//     --precolor: #f9f5d7;
//     --prebgcolor: #383838;
//     --green: #cdcd23;
//     --yellow: #d79921;
//     --white: #f9f5d7;
//     --visitedfg: #c1b7a9;
//     --visitedbord: #a89984;
//     --visitedhov: #fdf4c1;
//     --visitedhovbg: #282828;
//   }
// }

:root {
  --bg_h: #ffffff;
  --bg: #ffffff;
  --bg_s: #ffffff;
  --bg1: #ffffff;
  --bg2: #ffffff;
  --bg3: #ffffff;
  --bg4: #ffffff;
  --fg: #1d1f21;
  --fg1: #1d1f21;
  --fg2: #1d1f21;
  --fg3: #1d1f21;
  --fg4: #1d1f21;
  --red: #cc6666;
  --green: #b5bd68;
  --yellow: #e6c547;
  --blue: #81a2be;
  --purple: #b294bb;
  --aqua: #70c0ba;
  --orange: #DE935F;
  --gray: #373b41;
  --red-dim: #ff3334;
  --green-dim: #9ec400;
  --yellow-dim: #f0c674;
  --blue-dim: #81a2be;
  --purple-dim: #b77ee0;
  --aqua-dim: #54ced6;
  --orange-dim: #E78C45;
  --gray-dim: #282a2e;
  --bgcolor: #ffffff;
  --fontcolor: #000000;
  --linkcolor: #9b4369;
  --hovercolor: #ffa8ce;
  --precolor: #1d1f21;
  --prebgcolor: #ffffff;
  --white: #ffffff;
  --visitedfg: #1d1f21;
  --visitedbord: #1d1f21;
  --visitedhov: #ffffff;
  --visitedhovbg: #1d1f21;
  --title: #1d1f21;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg_h: #000000;
    --bg: #000000;
    --bg_s: #000000;
    --bg1: #000000;
    --bg2: #000000;
    --bg3: #000000;
    --bg4: #000000;
    --fg: #eaeaea;
    --fg1: #eaeaea;
    --fg2: #eaeaea;
    --fg3: #eaeaea;
    --fg4: #eaeaea;
    --red: #d54e53;
    --green: #b9ca4a;
    --yellow: #e6c547;
    --blue: #7aa6da;
    --purple: #c397d8;
    --aqua: #70c0ba;
    --gray: #424242;
    --orange: #fe8019;
    --red-dim: #ff3334;
    --green-dim: #9ec400;
    --yellow-dim: #e7c547;
    --blue-dim: #7aa6da;
    --purple-dim: #b77ee0;
    --aqua-dim: #54ced6;
    --gray-dim: #2a2a2a;
    --orange-dim: #E78C45;
    --bgcolor: #1d2021;
    --fontcolor: #eaeaea;
    --linkcolor: #f16c9f;
    --hovercolor: #ffa8ce;
    --precolor: #eaeaea;
    --prebgcolor: #383838;
    --green: #b9ca4a;
    --yellow: #e6c547;
    --white: #eaeaea;
    --visitedfg: #c1b7a9;
    --visitedbord: #a89984;
    --visitedhov: #fdf4c1;
    --visitedhovbg: #282828;
    --title: #eaeaea;
  }
}