:root {
  --bg_h: #ffffff;
  --bg: #ffffff;
  --bg_s: #ffffff;
  --bg1: #ffffff;
  --bg2: #ffffff;
  --bg3: #ffffff;
  --bg4: #ffffff;
  --fg: #1d1f21;
  --fg1: #1d1f21;
  --fg2: #1d1f21;
  --fg3: #1d1f21;
  --fg4: #1d1f21;
  --red: #cc6666;
  --green: #b5bd68;
  --yellow: #e6c547;
  --blue: #81a2be;
  --purple: #b294bb;
  --aqua: #70c0ba;
  --orange: #DE935F;
  --gray: #373b41;
  --red-dim: #ff3334;
  --green-dim: #9ec400;
  --yellow-dim: #f0c674;
  --blue-dim: #81a2be;
  --purple-dim: #b77ee0;
  --aqua-dim: #54ced6;
  --orange-dim: #E78C45;
  --gray-dim: #282a2e;
  --bgcolor: #ffffff;
  --fontcolor: #000000;
  --linkcolor: #b3004d;
  --hovercolor: #ffa8ce;
  --precolor: #1d1f21;
  --prebgcolor: #ffffff;
  --white: #ffffff;
  --visitedfg: #1d1f21;
  --visitedbord: #1d1f21;
  --visitedhov: #ffffff;
  --visitedhovbg: #1d1f21;
  --title: #1d1f21;
  // --hackerrank: #62ff87;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg_h: #000000;
    --bg: #000000;
    --bg_s: #000000;
    --bg1: #000000;
    --bg2: #000000;
    --bg3: #000000;
    --bg4: #000000;
    --fg: #eaeaea;
    --fg1: #eaeaea;
    --fg2: #eaeaea;
    --fg3: #eaeaea;
    --fg4: #eaeaea;
    --red: #d54e53;
    --green: #b9ca4a;
    --yellow: #e6c547;
    --blue: #7aa6da;
    --purple: #c397d8;
    --aqua: #70c0ba;
    --gray: #424242;
    --orange: #fe8019;
    --red-dim: #ff3334;
    --green-dim: #9ec400;
    --yellow-dim: #e7c547;
    --blue-dim: #7aa6da;
    --purple-dim: #b77ee0;
    --aqua-dim: #54ced6;
    --gray-dim: #2a2a2a;
    --orange-dim: #E78C45;
    --bgcolor: #1d2021;
    --fontcolor: #eaeaea;
    --linkcolor: #ff5d9b;
    --hovercolor: #ffa8ce;
    --precolor: #eaeaea;
    --prebgcolor: #383838;
    --green: #b9ca4a;
    --yellow: #e6c547;
    --white: #eaeaea;
    --visitedfg: #c1b7a9;
    --visitedbord: #a89984;
    --visitedhov: #fdf4c1;
    --visitedhovbg: #282828;
    --title: #eaeaea;
    // --hackerrank: #62ff87;
  }
}
