<div class="border"></div>
<div class="footer">
    <small class="footer-left">
        Copyright &copy; 2015&ndash;{{ now() | date(format="%Y") }} {{ config.extra.author }}
    </small>
    <small class="footer-right">
        Links: <a href="https://github.com/aaqaishtyaq" target="_blank">Github</a> | <a
            href="https://linkedin.com/in/aaqaishtyaq" target="_blank">LinkedIn</a> | <a
            href="https://x.com/aaqaishtyaq" target="_blank">X</a>
    </small>
</div>
<br />
<small class="footer">
    <a href="https://keys.openpgp.org/vks/v1/by-fingerprint/AFB766F59A198D35DD8F925AC4BE1CE588EB9E21" target="_blank" class="pgp">
    AFB7 66F5 9A19 8D35 DD8F 925A C4BE 1CE5 88EB 9E21
    </a>
</small>
