<header>
    <div class="header-left">
        <a href="{{ config.base_url }}" class="logo">{{ config.title }}</a>
    </div>
    <div class="header-right">
        <nav itemscope itemtype="http://schema.org/SiteNavigationElement">
            <ul>
                {% set index = get_section(path="_index.md") %}
                {% set series = get_taxonomy(kind="series", required=false) %}
                {% for s in index.subsections %}
                {% set subsection = get_section(path=s) %}
                <li class="nav">
                    <a itemprop="url" href="{{ subsection.permalink | safe}}">
                        <span itemprop="name">{{ subsection.title }} </span>
                    </a>
                </li>
                {% if subsection.title == "Blogs" and series and series.items %}
                <li class="nav">
                    <a itemprop="url" href="/series/">
                        <span itemprop="name">Series</span>
                    </a>
                </li>
                {% endif %}
                {% endfor %}

                <li class="nav">
                    <a itemprop="url" href="/rss.xml">
                        <span itemprop="name">Feed</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
